---
layout: carousel
title: About
---
.row
  .col-md-4
    h4 What is Civcraft?
    p.
      Civcraft is a unique Minecraft server where the players make the rules. It's an experiment for communities, political ideologies, debate and discussion. Most Minecraft servers have rules, like "no griefing", "no stealing", or "be nice". Civcraft doesn't. However, that doesn't mean you can run wild through out the world, pillaging and plundering all that you come across, because Civcraft isn't an ordinary vanilla Minecraft server. We have a collection of mods that encourage co-operation between players by increasing Minecraft's base difficulty tenfold and put players in control of justice.
    h4: a(href='./plugins.html') The Mods
    p.
      Citadel lets you protect blocks from other players through a system called 'reinforcement'. To reinforce a block, type '/ctr' and right-click the block you want to protect while holding Smooth Stone, an Iron Ingot, or a Diamond. The item will disappear, and the block will be reinforced. When a block is reinforced, other players have to break it multiple times for it to actually destroy it, the number of breaks depending on reinforcement material. Stone is 25, Iron 250, and Diamond 1800. Thus, protection is possible but not impenetrable. But how do you know who breaks your chest or burns your house?
    p.
      JukeAlert is the answer. Jukeboxes have been repurposed as the equivalent of security cameras. Anything someone does while whithin eleven blocks of a jukebox you've reinforced will be logged on it, and can be read by looking at the jukebox (we call them 'snitches' by the way) and typing '/jainfo'. Snitches will also tell you in chat whenever someone enters their range. Of course, it doesn't do any good to know who did something if you can't stop them.
    p.
      PrisonPearl makes it so players can imprison each other (called 'pearling') in The End. Kill someone with an ender pearl in your hotbar and they'll be stuck in The End and tied to the pearl. Destroying the pearl releases them. Remember that someone can do this to you, and usually will if you attack them, grief their buildings, or steal their items.
    p.
      RealisticBiomes makes farming harder by limiting growth rates of crops and making them only grow well in certain biomes. Crops on Civcraft are important because regular experience gain is disabled and crops are the only way to produce it; this is done in conjunction with another plugin: FactoryMod.
    p.
      FactoryMod enhances and expands the tech tree through 'factories': structures that let you produce more of an item, cheaper. They also let you produce experience from crops such as wheat, carrots, cactus, and mob drops. It's kind of complicated, but there's a tutorial and reference guide here. (put a link at 'here)
  .col-md-4
    | <script src="http://www.reddit.com/r/Civcraft/hot/.embed?limit=5&t=all&style=off" type="text/javascript"></script>
  .col-md-4
    p.
      Bacon ipsum dolor sit amet shank brisket meatloaf sausage tenderloin biltong. Short loin boudin turducken tail tenderloin spare ribs ball tip rump fatback. Salami beef ribs kevin sausage, tenderloin boudin meatball cow pastrami ball tip tail hamburger ham hock. Filet mignon prosciutto pig capicola andouille venison flank. Short ribs swine doner drumstick sirloin, meatball ball tip hamburger beef cow bresaola salami. Chuck strip steak prosciutto bacon doner bresaola.
.row
  .col-md-12#video
    iframe(src='//www.youtube.com/embed/GxS8cUbWYg4' frameborder=0 allowfullscreen)
script.
  $(document).ready(function() {
    $('#video').fitVids();
  });
