---
layout: carousel
title: About
---
.row
  .col-md-4
    p.
      Civcraft is an experiment for communities, political ideologies, debate and discussion. Our backstory is based on history, not fiction. We’re forming a new direction for game-play, not just about surviving the elements, but about surviving each other, where players can work together to create and shape civilization or to watch it crumble. A world open to any idea, manifesto or philosophy, created by the players. We hope to push minecraft to it’s fullest potential in order to foster discussion, experimentation and community building. This is the great pastime and challenge of mankind: Civilization.
  .col-md-4
    | <script src="http://www.reddit.com/r/Civcraft/hot/.embed?limit=5&t=all&style=off" type="text/javascript"></script>
  .col-md-4
    p.
      Bacon ipsum dolor sit amet shank brisket meatloaf sausage tenderloin biltong. Short loin boudin turducken tail tenderloin spare ribs ball tip rump fatback. Salami beef ribs kevin sausage, tenderloin boudin meatball cow pastrami ball tip tail hamburger ham hock. Filet mignon prosciutto pig capicola andouille venison flank. Short ribs swine doner drumstick sirloin, meatball ball tip hamburger beef cow bresaola salami. Chuck strip steak prosciutto bacon doner bresaola.
.row
  .col-md-12#video
    iframe(src='//www.youtube.com/embed/GxS8cUbWYg4' frameborder=0 allowfullscreen)
script.
  $(document).ready(function() {
    $('#video').fitVids();
  });
