---
layout: carousel
title: About
---
.row(style="height: 500px")
  .col-md-4
    p(style='font-size: 18px').
      Civcraft is an experiment for communities, political ideologies, debate and discussion. Our backstory is based on history, not fiction. We’re forming a new direction for game-play, not just about surviving the elements, but about surviving each other, where players can work together to create and shape civilization or to watch it crumble. A world open to any idea, manifesto or philosophy, created by the players. We hope to push minecraft to it’s fullest potential in order to foster discussion, experimentation and community building. This is the great pastime and challenge of mankind: Civilization.
  .col-md-8#video
    iframe(src='//www.youtube.com/embed/GxS8cUbWYg4' frameborder=0 allowfullscreen)
script.
  $(document).ready(function() {
    $('#video').fitVids();
  });
