---
layout: carousel
title: Plugins
---
.row(style='text-align: center')
  .col-md-4
    img(src='./assets/img/pluginicons/citadel.png')
    h3: a(href='http://i.imgur.com/kHJVX.jpg') Citadel
    p.
      Citadel is our block protection plugin (see <a href="http://i.imgur.com/kHJVX.jpg">this infographic</a>  for the basics). Citadel also allows players to have groups so that multiple players can access the same reinforcements. Citadel also allows you to create groups so that other players can access your reinforcements - read about this here.
  .col-md-4
    img(src='./assets/img/pluginicons/jukealert.png')
    h3: a(href='http://i.imgur.com/t9DaPOS.png') JukeAlert
    p.
      JukeAlert lets players use jukeboxes to track and record the actions of other players in a small radius from the jukebox. JukeAlert is integrated with Citadel’s <a href='http://www.reddit.com/r/Civcraft/comments/y1rkd/citadel_20_commands/'>group system</a>
  .col-md-4
    img(src='./assets/img/pluginicons/prisonpearl.png')
    h3: a(href='http://i.imgur.com/XbhkK.jpg') PrisonPearl
    p.
      PrisonPearl allows players to restrain other players (see <a href='http://i.imgur.com/XbhkK.jpg'>this infographic</a> for the basics). Keep in mind that every day you have a player pearled consumes 2 coal from the chest, if there is not enough coal the prisoners will be freed. Also PrisonPearl is integrated with CombatTag, logging out will not save you from being pearled.
.row(style='text-align: center')
  .col-md-4
    img(src='./assets/img/pluginicons/factorymod.png')
    h3: a(href='https://github.com/gmlaxfanatic/FactoryMod/wiki') FactoryMod
    p.
      Factorymod is a complex tech tree with the goal of allowing more efficient production from resources.. It transfers of all XP generation over to crop growing. You will not gain XP from killing mobs or mining normally. <a href='https://github.com/gmlaxfanatic/FactoryMod/wiki '>FactoryMod Wiki</a>
  .col-md-4
    img(src='./assets/img/pluginicons/realisticbiomes.png')
    h3: a(href='https://github.com/Namrufus/RealisticBiomes/wiki/Usage ') RealisticBiomes
    p.
      RealisticBiomes is a mod to customize growth rates for various biomes to be more realistic as well as provide persistence in crop growth. <a href='https://github.com/Namrufus/RealisticBiomes/wiki/Usage'>See the guide here</a>.
  .col-md-4
    img(src='./assets/img/pluginicons/itemexchange.png')
    h3: a(href='https://github.com/gmlaxfanatic/ItemExchange') ItemExchange
    p.
      ItemExchange allows players to set up chests and dispensers as shops. It is used in conjunction with Citadel to lock the container that is being used this way. Any item can be set up to be traded for any item. A single shop can offer multiple exchanges, for customers to choose between. <a  href='http://pastebin.com/raw.php?i=YrpYkjMa'>There's a guide here</a>
.row
  h3 Other plugins
  p Civpet allows you to un-tame animals for ownership transfer by feeding them cookies.
  p Dyncap lets us adjust the servers player cap on the fly for maximum player/performance ratio, the player cap is not actually 500 players and is subject to change while the server is live.
  p Arthropod Egg allows the use of a bane of arthropods enchanted weapon to occasionally cause mobs to drop corresponding spawn eggs. Higher level bane means higher chance of egg dropping.
  p MusterCull exists to limit the number of mobs for purposes of server performance. If you keep too many mobs in one spot (like a concentrated farm) MusterCull will target them for culling.
