header
  max-height 300px
  margin-bottom 15px
  transition background-image 0.25s ease-in-out
  -webkit-transition background-image 0.25s ease-in-out
  -moz-transition background-image 0.25s ease-in-out
  -ms-transition background-image 0.25s ease-in-out
  -o-transition background-image 0.25s ease-in-out

.nav li .popover
  font-size 14px

@font-face
  font-family Fira
  src url(../fonts/FiraSansOT-Regular.otf)
  font-weight normal
  font-style normal

@font-face
  font-family Fira
  src url(../fonts/FiraSansOT-Bold.otf)
  font-weight bold
  font-style normal

//Customize the navbar
.navbar-wrapper
  font-family Fira
  z-index 15

.civlogo
  max-width 100%
  margin-top 40px
  margin-bottom 50px
  max-height 210px

img.pluginImg
  width 94px
  height 94px

//Reddit widget
.score.dislikes, .score.likes
  display none
.reddit-voting-arrows
  display none

@media (min-width: 768px)

  .civlogo
    z-index 1000
    top 7em
    margin-top 55px
    margin-bottom 35px


  .civbox span
    top 50px
    background-size auto 150px

  .navbar, .navbar-inverse, .navbar-static-top
    background none
    // background-color rgba(0,0,0,0.5)
  
  .navbar
    margin 0
    border none
    z-index 1000

  .navbar-wrapper
    position static
    float right
    top 185px
    margin-top 25px

  .navbar-wrapper, .navbar-wrapper *
    width: -webkit-min-content
    width: -moz-min-content

  .navbar-nav li
    text-transform lowercase
    font-size 18px
    float right

  .navbar-nav li a
    color white !important
    padding-left 10px
    padding-right 10px

  .navbar-nav li a:hover
      text-decoration: underline

  .navbar-nav .active a
    background-color transparent !important
    font-weight bold

  .navbar-collapse
    padding-left 0
    padding-right 0

@media (max-width: 767px)
  body
    overflow-x hidden

  .header-container
    padding-left 0
    padding-right 0

  .navbar-wrapper .container
    padding-left 0
    padding-right 0

  .navbar
    margin-bottom 0

  .civlogo
    padding-left 15px
    padding-right 15px
    display block
    margin-left auto
    margin-right auto
