@font-face {
  font-family: Neutra;
  src: url("../fonts/NeutraText-BookAlt.ttf");
  font-weight: normal;
  font-style: normal;
}
.navbar-wrapper {
  font-family: Neutra;
  position: relative;
  z-index: 15;
}
.civbox span {
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: url("../img/logo.png") no-repeat center top;
  background-size: auto 100px;
}
.carousel {
  margin-bottom: 60px;
  margin-top: -90px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 200px;
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: none;
  max-height: none;
  height: auto;
}
.carousel .item {
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -khtml-transition: opacity 1s;
}
.carousel .active.left,
.carousel .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}
.carousel .next,
.carousel .prev {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.carousel {
  min-height: 200px;
}
.carousel .layer {
  position: absolute;
}
.carousel .civlogo {
  z-index: 1;
  top: 20%;
  left: 50%;
  height: auto;
  width: 200px;
  margin-left: -100px;
}
@media (min-width: 768px) {
  .carousel .item {
    height: 300px;
  }
  .carousel .layer {
    position: absolute;
  }
  .carousel .civlogo {
    z-index: 1000;
    left: 50%;
    margin-left: -175px;
    height: 150px;
    width: auto;
  }
  .civbox span {
    top: 50px;
    background-size: auto 150px;
  }
  .navbar,
  .navbar-inverse,
  .navbar-static-top {
    background: none;
  }
  .navbar {
    margin: 0;
    border: none;
    z-index: 1000;
  }
  .navbar-wrapper {
    top: 185px;
    margin-top: 0;
  }
  .navbar-nav li {
    border-left: 1px solid #fff;
    text-transform: uppercase;
    font-size: 18px;
  }
  .navbar-nav li:first-child {
    border-left: none;
  }
  .navbar-nav li a {
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-nav .active a {
    background-color: transparent !important;
  }
  .navbar-wrapper .container {
    width: max-content;
    width: -moz-max-content;
    width: intrinsic;
    padding: 0;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    margin-bottom: 0;
  }
  .carousel {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .nav > li {
    padding-left: 10px;
  }
}
