header,
#header-background,
#header-background-blur {
  max-height: 300px;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}
#header-background,
#header-background-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
}
#header-background {
  z-index: -2;
}
#header-background-blur {
  z-index: -1;
}
#header-background-blur:hover {
  opacity: 0;
}
.navbar-static-top,
.civlogo {
  z-index: 15;
}
.nav li .popover {
  font-size: 14px;
}
@font-face {
  font-family: Fira;
  src: url("../fonts/FiraSansOT-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Fira;
  src: url("../fonts/FiraSansOT-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
body > .container {
  padding-top: 2em;
}
.navbar-wrapper {
  font-family: Fira;
}
.civlogo {
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
  max-height: 210px;
}
img.pluginImg {
  width: 56px;
  height: 56px;
  float: left;
  margin-right: 5px;
}
.score.dislikes,
.score.likes {
  display: none;
}
.reddit-voting-arrows {
  display: none;
}
.reddit-title {
  display: none;
}
.plugin-description {
  font-weight: bold;
}
@media (min-width: 768px) {
  .civlogo {
    top: 7em;
    margin-top: 55px;
    margin-bottom: 35px;
  }
  .civbox span {
    top: 50px;
    background-size: auto 150px;
  }
  .navbar,
  .navbar-inverse,
  .navbar-static-top {
    background: none;
  }
  .navbar {
    margin: 0;
    border: none;
  }
  .navbar-wrapper {
    position: static;
    float: right;
    top: 185px;
    margin-top: 25px;
    border-radius: 6px;
    transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -khtml-background-color: 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
  }
  .navbar-wrapper,
  .navbar-wrapper * {
    width: -webkit-min-content;
    width: -moz-min-content;
  }
  .navbar-nav li {
    text-transform: lowercase;
    font-size: 18px;
    float: right;
  }
  .navbar-nav li a {
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-nav li a:hover {
    text-decoration: underline;
  }
  .navbar-nav .active a {
    background-color: transparent !important;
    font-weight: bold;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    margin-bottom: 0;
  }
  .civlogo {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
