<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""><meta name="author" content="">
    <link rel="shortcut icon" href="./assets/ico/favicon.png">
    <title>{{page.title}}</title>
    
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/font-awesome.css" rel="stylesheet">
    <link href="./assets/css/styling.css" rel="stylesheet">

    <script src="./assets/js/jquery.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/holder.js"></script>
    <script src="./assets/js/jquery.fitvids.js"></script>
    <!--[if lt IE 9]>
      <script src="./assets/assets/js/html5shiv.js"></script>
      <script src="./assets/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div id="header-background">
      </div>
      <div id="header-background-blur">
      </div>
      <div class="container header-container">
        <div class="navbar-wrapper">
          <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-header">
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span></button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="rules.html">rules</a></li>
                <li><a href="contribute.html">contribute</a></li>
                <li><a href="http://reddit.com/r/civcraft/">community</a></li>
                <li><a href="http://civcraft.org/">wiki</a></li>
              </ul>
            </div>
          </div>
        </div>
        <a style="text-decoration:none" href="index.html"><img src="./assets/img/logo.png" class="layer display civlogo"></a>
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
    <script>
      $(document).ready(function() {
        function getRandomInt(min, max) {
          return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        render = getRandomInt(1, 8);
        $('#header-background').css("background-image", "url('./assets/img/renders/" + render + ".jpg')"); 
        $('#header-background-blur').css("background-image", "url('./assets/img/blurredrenders/" + render + ".jpg')"); 
  
        $('header').hover(function() { 
          $('#header-background-blur').css("opacity", "0"); 
          $('.navbar-wrapper').css("background-color", "rgba(0,0,0,0.5)"); 
        }).mouseleave(function(){
          $('#header-background-blur').css("opacity", "1"); 
          $('.navbar-wrapper').css("background-color", "rgba(0,0,0,0)"); 
        });
        $('.reddit-header').append("<h4 class='reddit-title-custom'>Posts from <a href='http://reddit.com/r/Civcraft'>/r/Civcraft</a></h4>");
      });
    </script>
    <script>
      $(document).ready(function() {
        $('#video').fitVids();
        $('.server-ip').popover();
      });
    </script>
  </body>
</html>
